################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/a_Build/.fake
/a_Build/.vs
/a_Build/obj
